
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-groq
 langchain-text-splitters
 faiss-cpu
 langchain_huggingface
 arxiv
 wikipedia
langgraph
langchainhub
huggingface_hub
pydantic
