
 langchain
 python-dotenv
 langchain-community
 langchain-core
 streamlit
 langchain-groq
 langchain-text-splitters
 faiss-cpu
 langchain-chroma
 langchain-huggingface
 arxiv
 wikipedia
 langgraph
 huggingface_hub
 sentence-transformers
 pypdf
 
