streamlit
python-dotenv

langchain
langchain-core
langchain-community
langgraph

langchain-huggingface
sentence-transformers
huggingface_hub

faiss-cpu

langchain-text-splitters
unstructured
pypdf
wikipedia
